.aws-sam/
__pycache__/
*.pyc
samconfig.tomlterraform/.terraform/
terraform/build/
*.tfstate
*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
